@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
}

.container {
	max-width: 1200px;
	min-height: 600px;
	margin: 30px auto;
	padding: 0 20px;
}

h1 {
	line-height: 2.5rem;
	color: #777;
}

h2 {
	padding-top: 20px;
	color: #AAA;
}

h1::after, h2::after {
	content: '';
	display: block;
	margin-top: 20px;
	width: 100%;
	height: 1px;
	background-color: #45543D;
}

h2::after {
	margin-top: 5px;
}

.form {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}

.col-6 {
	flex: 1;
}

.col-6:first-child {
	margin-right: 100px;
}

.col-6:nth-child(2) {
	padding-top: 76px;
}

.form-group {
	margin-bottom: 5px;
}

.w-100 {
	width: 100%;
}

.w-50 {
	width: 70%;
}

label {
	font-size: 1em;
	line-height: 2em;
}

input, select {
	font-size: 1em;
	border: 1px solid #CCC;
	background-color: #E8EFE4;
	border-radius: 5px;
	padding: 8px 10px;
	outline: none;
	transition: all .25s ease;
}

input:focus {
	color: #495057;
	background-color: #eff2ed;
	border-color: #80bdff;
	outline: 0;
}

button {
	margin-top: 20px;
	padding: 10px 25px;
	border: 1px solid #eff2ed;
	border-radius: 5px;
	font-size: 0.8125em;
	color: #FFF;
	background-color: #45543D;
	cursor: pointer;
	transition: all .25s ease;
}

button:hover {
	background-color: #495057;
}