* {
	font-family: Arial;
}

body {
	margin: 0;
	padding: 0;
}

.topo {
	height: 50px;
	background-color: #353535;
}

.topointerior {
	width: 1000px;
	margin: auto;
	color: #FFF;
}

.logomarca {
	float: left;
	font-size: 24px;
	line-height: 50px;
}

.menu {
	float: right;
}

.menu ul, .menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 50px;
	font-size: 14px;
}

.menu li:hover {
	background-color: #3580C1;
	cursor: pointer;
}

.banner {
	height: 300px;
	background-color: #347ABA;
}

.bannerinterior {
	width: 1000px;
	margin: auto;
}

.banneresqueda {
	float: left;
}

.bannerdireita {
	float: right;
}

.bannerdireita img {
	margin-right: 55px;
}

.frase1 {
	font-weight: bold;
	font-size: 48px;
	color: #FFFFFF;
	margin-top: 60px;
}

.frase2 {
	margin-top: 10px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
}

.btn {
	background-color: #FFC001;
	width: 282px;
	height: 56px;
	font-size: 20px;
	text-align: center;
	line-height: 56px;
	font-weight: bold;
	margin-top: 20px;
	cursor: pointer;
	border-radius: 5px;
}

.conteudointerno {
	width: 1000px;
	margin: auto;
}

.outrosprodutos h3 {
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.fotos img {
	margin-left: 10px;
	margin-right: 10px;
}

.rodape {
	background-color: #347aba;
	height: 50px;
	margin-top: 40px;
	line-height: 50px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
}